<div class="mdl-card mdl-card--border gu-links__results">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">
        {{#if isLive}}<strong class="gu-links--live">Live!</strong>{{/if}}
        From The Guardian
    </h2>
  </div>

  <div class="mdl-card__supporting-text">
      <ul>
        {{#each results}}
          <li>
            <a href="{{this.webUrl}}">{{this.webTitle}}</a>
          </li>
        {{/each}}
      </ul>
  </div>
</div>